@charset "UTF-8";
 

html {
    --neutral1: #000000;
    --neutral2: #FFFFFF;
    --first: #0081C9;
    --third: #86E5FF;
    --fourth: #3fb4f3;
}

* {
    scroll-behavior: smooth;
}

button {
    background-color: var(--neutral2);
    color: var(--first);
    outline: none;
    border: none;
    border: 1px solid var(--first);
}

button:hover {
    background-color: var(--first);
    color: var(--neutral2);
}

.visitor {
    position: fixed;
    top: 5%;
    right: 0;
    padding: 5px;
    background-color: var(--first);
    color: var(--neutral2);
    border-radius: 9999px;
    margin: 1%;
}

@media only screen
 and (min-device-width: 220px)
 and (max-device-width: 480px) {
    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        background: transparent;
        align-items: center;
        z-index: 999;
    }
    
    .navigation img {
        width: 32px;
        height: 32px;
    }
    
    .navigation span {
        color: var(--neutral2);
    }
    
    .label a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .burger {
        color: var(--neutral2);
    }
    
    .navigation_links {
        display: none;
    }

    .hidden_menu {
        background-color: var(--first);
        height: 100vh;
        position: fixed;
        width: 100vw;
        z-index: 9999;
        color: var(--neutral2);
    }

    .hidden_menu div {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .hidden_menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: 30%;
        gap: 40px;
    }

    .hidden_menu li a {
        text-decoration: none;
        color: var(--neutral2);
    }

    header {
        background-image: url(https://img.freepik.com/premium-vector/abstract-medical-background-with-hexagons-concepts-ideas-healthcare-technology-innovation-medicine-health-science-research_120542-423.jpg);
        background-color: var(--first);
        background-blend-mode: multiply;
        padding-inline: 5%;
        padding-block: 15%;
    }
    
    .header_body {
        color: var(--neutral2);
        display: flex;
        flex-direction: column;
    }
    
    .header_img img {
        height: 300px;
        aspect-ratio: 1;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .main {
        /* border: 1px solid var(--first); */
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        background-color: var(--neutral2);
    }

    .main button a {
        text-decoration: none;
        color: var(--first);
    }
    
    .main button a:hover {
        color: var(--neutral2);
    }
    
    .box {
        padding: 20px;
    }
    
    .img {
        width: 100%;
        aspect-ratio: 1.3/1;
    }

    .partner {
        background-color: var(--first);
    }

    .learn h6 {
        color: var(--first);
    }

    .partner h6 {
        color: var(--neutral2);
    }

    .subscribe {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sub_img {
        width: 100%;
    }

    .sub_img img {
        width: 100%;
    }

    .sub_text h6 {
        color: var(--first);
    }

    .text_area {
        background-color: var(--first);
        border: none;
        outline: none;
    }
    
    .text_area:focus {
        border: none;
        outline: none;
    }

    footer {
        background-color: var(--first);
        color: var(--neutral2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .socials {
        width: 70%;
    }
    
    .socials ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }
    
    .socials li a {
        text-decoration: none;
        color: var(--neutral2);
        cursor: pointer;
    }
    
    .first {
        width: 100%;
        color: var(--neutral2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .second {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .second_text {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    
    .second_text li {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    .second_text li a {
        text-decoration: none;
        color: var(--neutral2);
    }
    
    .second_text li a:hover {
        color: var(--fourth);
    }
    
    .third {
        color: var(--neutral2);
        width: 100%;
        text-align: center;
    }
    
    #ticker {
        position: fixed;
        bottom: 0;
        left: 0;
        width: fit-content;
        background-color: var(--first);
        color: var(--neutral2);
        font-size: 18px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        animation: problem 5s linear infinite;
    }
    
    @keyframes problem {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        background: transparent;
        align-items: center;
        z-index: 999;
    }
    
    .navigation img {
        width: 32px;
        height: 32px;
    }
    
    .navigation span {
        color: var(--neutral2);
    }
    
    .label a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .burger {
        color: var(--neutral2);
    }
    
    .navigation_links {
        display: none;
    }

    .hidden_menu {
        background-color: var(--first);
        height: 100vh;
        position: fixed;
        width: 100vw;
        z-index: 9999;
        color: var(--neutral2);
    }

    .hidden_menu div {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .hidden_menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: 30%;
        gap: 40px;
    }

    .hidden_menu li a {
        text-decoration: none;
        color: var(--neutral2);
    }

    header {
        background-image: url(https://img.freepik.com/premium-vector/abstract-medical-background-with-hexagons-concepts-ideas-healthcare-technology-innovation-medicine-health-science-research_120542-423.jpg);
        background-color: var(--first);
        background-blend-mode: multiply;
        padding-inline: 5%;
        padding-block: 15%;
    }
    
    .header_body {
        color: var(--neutral2);
        display: flex;
    }
    
    .header_img img {
        height: 300px;
        aspect-ratio: 1;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .main {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        background-color: var(--neutral2);
    }

    .main button a {
        text-decoration: none;
        color: var(--first);
    }
    
    .main button a:hover {
        color: var(--neutral2);
    }
    
    .box {
        padding: 20px;
    }
    
    .img {
        width: 100%;
        aspect-ratio: 1.3/1;
    }

    .learn h6 {
        color: var(--first);
    }

    .partner {
        background-color: var(--first);
    }

    .partner h6 {
        color: var(--neutral2);
    }

    .subscribe {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sub_img {
        width: 100%;
    }

    .sub_img img {
        width: 100%;
    }

    .sub_text h6 {
        color: var(--first);
    }

    .text_area {
        background-color: var(--first);
        border: none;
        outline: none;
    }
    
    .text_area:focus {
        border: none;
        outline: none;
    }

    footer {
        background-color: var(--first);
        color: var(--neutral2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .socials {
        width: 70%;
    }
    
    .socials ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }
    
    .socials li a {
        text-decoration: none;
        color: var(--neutral2);
        cursor: pointer;
    }
    
    .first {
        width: 100%;
        color: var(--neutral2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .second {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .second_text {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    
    .second_text li {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    .second_text li a {
        text-decoration: none;
        color: var(--neutral2);
    }
    
    .second_text li a:hover {
        color: var(--fourth);
    }
    
    .third {
        color: var(--neutral2);
        width: 100%;
        text-align: center;
    }
    
    #ticker {
        position: fixed;
        bottom: 0;
        left: 0;
        width: fit-content;
        background-color: var(--first);
        color: var(--neutral2);
        font-size: 18px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        animation: problem 5s linear infinite;
    }
    
    @keyframes problem {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
  }

@media (min-width: 992px) {
    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        background: transparent;
        align-items: center;
        z-index: 999;
    }
    .label a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .navigation img {
        width: 32px;
        height: 32px;
    }
    
    .navigation span {
        color: var(--neutral2);
    }
    
    .navigation_links {
        width: 45%;
    }
    
    .navigation_links nav {
        height: fit-content;
    }
    
    .navigation_links ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        /* align-items: center; */
    }
    
    .navigation_links li a {
        color: var(--neutral2);
        text-decoration: none;
    }
    
    .navigation_links li a:hover, .socials li a:hover {
        color: var(--fourth);
    }

    .burger {
        display: none;
    }
    
    header {
        background-image: url(https://img.freepik.com/premium-vector/abstract-medical-background-with-hexagons-concepts-ideas-healthcare-technology-innovation-medicine-health-science-research_120542-423.jpg);
        background-color: var(--first);
        background-blend-mode: multiply;
        padding-inline: 20%;
        padding-block: 5%;
    }
    
    .header_body {
        color: var(--neutral2);
        display: flex;
        align-items: center;
    }
    
    .header_img img {
        height: 400px;
        aspect-ratio: 1;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    
    .main {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        background-color: var(--neutral2);
    }

    .main button a {
        text-decoration: none;
        color: var(--first);
    }
    
    .main button a:hover {
        color: var(--neutral2);
    }
    
    .box {
        padding: 20px;
    }
    
    .img {
        width: 100%;
        aspect-ratio: 1.3/1;
    }

    .learn h6 {
        color: var(--first);
    }

    .partner {
        background-color: var(--first);
    }

    .partner h6 {
        color: var(--neutral2);
    }

    .subscribe {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .sub_img {
        width: 80%;
    }

    .sub_img img {
        width: 100%;
    }

    .sub_text h6 {
        color: var(--first);
    }

    .text_area {
        background-color: var(--first);
        border: none;
        outline: none;
    }
    
    .text_area:focus {
        border: none;
        outline: none;
    }
    
    footer {
        background-color: var(--first);
        color: var(--neutral2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .socials {
        width: 15%;
    }
    
    .socials ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }
    
    .socials li a {
        text-decoration: none;
        color: var(--neutral2);
        cursor: pointer;
    }
    
    .first {
        width: 100%;
        color: var(--neutral2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .second {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .second_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .second_text li {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .second_text li a {
        text-decoration: none;
        color: var(--neutral2);
    }
    
    .second_text li a:hover {
        color: var(--fourth);
    }
    
    .third {
        color: var(--neutral2);
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    
    }
    
    #ticker {
        position: fixed;
        bottom: 0;
        left: 0;
        width: fit-content;
        background-color: var(--first);
        color: var(--neutral2);
        font-size: 18px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        animation: problem 10s linear infinite;
    }
    
    @keyframes problem {
        0% {
            transform: translateX(500%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}